In [58]:
# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import scipy.stats as sts
from scipy.stats import linregress

In [59]:
cleaned = pd.read_csv('resources/StartupsCleanedDf.csv')
uncleaned = pd.read_csv('resources/Pitchbook.csv', encoding=result['encoding'])

NameError: name 'result' is not defined

In [11]:
cleaned.columns

Index(['Unnamed: 0', 'Company Name', 'Programming Languages',
       'Software Applications', 'Primary Industry Code',
       'Primary Industry Sector', 'Primary Industry Group', 'Verticals',
       'Total Raised', 'Employees', 'Year Founded', 'HQ Location',
       'HQ Country', 'HQ Global Region', 'Active Investors',
       '# Active Investors', 'First Financing Date', 'First Financing Size',
       'First Financing Deal Type', 'First Financing Deal Class',
       'Last Financing Date', 'Last Financing Size',
       'Last Financing Deal Type', 'Last Financing Deal Class', 'Growth Rate',
       'Growth Rate Percentile', 'Web Growth Rate',
       'Web Growth Rate Percentile', 'Social Growth Rate',
       'Social Growth Rate Percentile', 'Twitter Growth Rate',
       'Twitter Growth Rate Percentile', 'Twitter Followers'],
      dtype='object')

In [12]:
venture = cleaned[['Company Name',  'Primary Industry Sector', 'Primary Industry Group', 'Verticals',
       'Total Raised','Active Investors',
       '# Active Investors', 'First Financing Date', 'First Financing Size',
       'First Financing Deal Type', 'First Financing Deal Class',
       'Last Financing Date', 'Last Financing Size',
       'Last Financing Deal Type', 'Last Financing Deal Class', 'Growth Rate' ]]

In [31]:
venture.head()

,Company Name,Primary Industry Sector,Primary Industry Group,Verticals,Total Raised,Active Investors,# Active Investors,First Financing Date,First Financing Size,First Financing Deal Type,First Financing Deal Class,Last Financing Date,Last Financing Size,Last Financing Deal Type,Last Financing Deal Class,Growth Rate
0,3Bar Biologics,Healthcare,Pharmaceuticals and Biotechnology,"AgTech, Life Sciences",2.10,"Carmen Innovation, Maumee Ventures, Ohio Tech ...",10.0,2014-07-15,0.10,Grant,Other,2017-10-18,0.60,Grant,Other,9.29
1,3D Hubs,Business Products and Services (B2B),Commercial Services,"3D Printing, E-Commerce, Industrials, SaaS, TMT",29.52,"Arthur Kosten, Balderton Capital, Endeit Capit...",11.0,2013-04-01,0.02,Accelerator/Incubator,Other,2019-03-26,18.00,Later Stage VC,Venture Capital,0.08
2,4INFO,Business Products and Services (B2B),Commercial Services,"AdTech, Mobile, TMT",76.09,"Big Basin Partners, Comcast Ventures, Costella...",14.0,2004-10-13,0.42,Early Stage VC,Venture Capital,2014-08-05,1.50,Debt Refinancing,Debt,-1.12
3,8i,Information Technology,Software,"Augmented Reality, SaaS, TMT, Virtual Reality",42.22,"Advancit Capital, Andrew Hendricks, Baidu Vent...",29.0,2014-07-01,1.00,Angel (individual),Individual,2017-02-13,26.74,Early Stage VC,Venture Capital,1.66
4,908 Devices,Business Products and Services (B2B),Commercial Products,TMT,74.00,"Alan Marshall, ARCH Venture Partners, Artur St...",29.0,2012-12-06,8.49,Early Stage VC,Venture Capital,2019-04-29,17.50,Later Stage VC,Venture Capital,0.20

In [48]:
prim_count = venture['Primary Industry Sector'].value_counts()

print(f'total number of sectors: {len(prim_count)}')
print(prim_count)

total number of sectors: 7
Information Technology                  227
Consumer Products and Services (B2C)     64
Business Products and Services (B2B)     57
Healthcare                               17
Energy                                   17
Financial Services                        7
Materials and Resources                   3
Name: Primary Industry Sector, dtype: int64

In [49]:
group_count = venture.groupby('Primary Industry Sector')['Primary Industry Group'].value_counts()
print(f'total number of industry groups: {len(group_count)}')
print(group_count)

total number of industry groups: 30
Primary Industry Sector               Primary Industry Group
Business Products and Services (B2B)  Commercial Services                      37
                                      Commercial Products                      18
                                      Commercial Transportation                 2
Consumer Products and Services (B2C)  Media                                    17
                                      Consumer Durables                        14
                                      Consumer Non-Durables                    13
                                      Retail                                    6
                                      Services (Non-Financial)                  5
                                      Transportation                            4
                                      Apparel and Accessories                   2
                                      Restaurants, Hotels and Leisure           2
                                      Other Consumer Products and Services      1
Energy                                Energy Equipment                          8
                                      Energy Services                           7
                                      Exploration, Production and Refining      1
                                      Utilities                                 1
Financial Services                    Other Financial Services                  4
                                      Insurance                                 2
                                      Capital Markets/Institutions              1
Healthcare                            Healthcare Devices and Supplies           7
                                      Healthcare Technology Systems             5
                                      Pharmaceuticals and Biotechnology         4
                                      Healthcare Services                       1
Information Technology                Software                                193
                                      Computer Hardware                        12
                                      Communications and Networking            10
                                      Semiconductors                            7
                                      IT Services                               5
Materials and Resources               Agriculture                               2
                                      Metals, Minerals and Mining               1
Name: Primary Industry Group, dtype: int64

In [53]:
verticals = venture['Verticals'].value_counts()
verticals

TMT                                                       33
SaaS, TMT                                                 32
Mobile, SaaS, TMT                                         12
Mobile, TMT                                               10
Cybersecurity, TMT                                        10
                                                          ..
FoodTech, Impact Investing, Restaurant Technology, TMT     1
Gaming, TMT, Virtual Reality                               1
Cybersecurity, Internet of Things, SaaS, TMT               1
Industrials, Manufacturing, Nanotechnology, TMT            1
Manufacturing, Nanotechnology                              1
Name: Verticals, Length: 191, dtype: int64

In [66]:
df = venture.groupby('Verticals')['Verticals'].str.split(',', expand = True)

AttributeError: Cannot access attribute 'str' of 'SeriesGroupBy' objects, try using the 'apply' method

In [54]:
deal_type = venture['First Financing Deal Type'].unique()
print(f'Number of deal types: {len(deal_type)}')
print(deal_type)

Number of deal types: 13
['Grant' 'Accelerator/Incubator' 'Early Stage VC' 'Angel (individual)'
 'Corporate' 'Seed Round' 'Later Stage VC' 'Convertible Debt'
 'Debt - General' 'Buyout/LBO' 'Capitalization' 'Product Crowdfunding'
 'Mezzanine']