In [481]:
# Dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import scipy.stats as sts
from scipy.stats import linregress
import collections

In [482]:
with open('resources/Pitchbook.csv') as f:
    print(f)

<_io.TextIOWrapper name='resources/Pitchbook.csv' mode='r' encoding='cp1252'>

In [483]:
cleaned = pd.read_csv('resources/StartupsCleanedDf.csv')
uncleaned = pd.read_csv('resources/Pitchbook.csv', encoding='cp1252')

In [484]:
print(list(uncleaned.columns))

['Company ID', 'Company Name', 'Company Former Name', 'Company Also Known As', 'Competitors', 'PBId', 'Description', 'Primary Industry Sector', 'Primary Industry Group', 'Primary Industry Code', 'All Industries', 'Verticals', 'Keywords', 'Company Financing Status', 'Total Raised', 'Business Status', 'Ownership Status', 'Universe', 'Website', 'Employees', 'Employee History', 'Exchange', 'Ticker', 'Year Founded', 'Parent Company', 'Daily Updates', 'Weekly Updates', 'Revenue', 'Gross Profit', 'Net Income', 'Enterprise Value', 'EBITDA', 'Fiscal Period', 'EBIT', 'Market Cap', 'Net Debt', 'Primary Contact PBId', 'Primary Contact', 'Primary Contact Title', 'Primary Contact Email', 'Primary Contact Phone', 'HQ Location', 'HQ Address Line 1', 'HQ Address Line 2', 'HQ City', 'HQ State/Province', 'HQ Post Code', 'HQ Country', 'HQ Phone', 'HQ Fax', 'HQ Email', 'HQ Global Region', 'HQ Global Sub Region', 'Financing Status Note', 'Active Investors', '# Active Investors', 'Acquirers', 'Former Investors', 'Other Investors', 'Active Investors Websites', 'Former Investors Websites', 'Other Investors Websites', 'General Services', 'Services on a Deal', 'First Financing Date', 'First Financing Size', 'First Financing Size Status', 'First Financing Valuation', 'First Financing Valuation Status', 'First Financing Deal Type', 'First Financing Deal Type 2', 'First Financing Deal Type 3', 'First Financing Deal Class', 'First Financing Debt Type', 'First Financing Debt Type 2', 'First Financing Debt Type 3', 'First Financing Status', 'Last Financing Date', 'Last Financing Size', 'Last Financing Size Status', 'Last Financing Valuation', 'Last Financing Valuation Status', 'Last Financing Deal Type', 'Last Financing Deal Type 2', 'Last Financing Deal Type 3', 'Last Financing Deal Class', 'Last Financing Debt Type', 'Last Financing Debt Type 2', 'Last Financing Debt Type 3', 'Last Financing Status', 'Last Financing Debt Date', 'Last Financing Debt Size', 'Growth Rate', 'Growth Rate Percentile', 'Growth Rate Change', 'Growth Rate % Change', 'Web Growth Rate', 'Web Growth Rate Percentile', 'Social Growth Rate', 'Social Growth Rate Percentile', 'SimilarWeb Growth Rate', 'SimilarWeb Growth Rate Percentile', 'Majestic Growth Rate', 'Majestic Growth Rate Percentile', 'Twitter Growth Rate', 'Twitter Growth Rate Percentile', 'Size Multiple', 'Size Multiple Percentile', 'Size Multiple Change', 'Size Multiple % Change', 'Web Size Multiple', 'Web Size Multiple Percentile', 'Social Size Multiple', 'Social Size Multiple Percentile', 'SimilarWeb Size Multiple', 'SimilarWeb Size Multiple Percentile', 'Majestic Size Multiple', 'Majestic Size Multiple Percentile', 'Twitter Size Multiple', 'Twitter Size Multiple Percentile', 'SimilarWeb Unique Visitors', 'SimilarWeb Unique Visitors Change', 'SimilarWeb Unique Visitors % Change', 'Majestic Referring Domains', 'Majestic Referring Domains Change', 'Majestic Referring Domains % Change', 'Twitter Followers', 'Twitter Followers Change', 'Twitter Followers % Change', 'Profile Data Source', 'Last Updated Date', 'Last Known Valuation', 'Last Known Valuation Date', 'Last Known Valuation Deal Type', 'PitchBook Link']

In [485]:
#creating my VC dataframe that will be the base to answering my questions

venture = uncleaned[['Company ID', 'Company Name', 'Year Founded', 'HQ Location',
       'HQ Country', 'HQ Global Region','Primary Industry Sector', 'Primary Industry Group', 'Verticals',
       'Total Raised','Active Investors',
       '# Active Investors', 'First Financing Date', 'First Financing Size', 'First Financing Valuation',
       'First Financing Deal Type', 'First Financing Deal Type 2',
       'Last Financing Date', 'Last Financing Size', 'Last Financing Valuation', 
       'Last Financing Deal Type', 'Last Financing Deal Type 2', 'Growth Rate', 'Growth Rate % Change', 'Size Multiple',
                    'Size Multiple % Change']]

In [486]:
venture.head()

,Company ID,Company Name,Year Founded,HQ Location,HQ Country,HQ Global Region,Primary Industry Sector,Primary Industry Group,Verticals,Total Raised,...,First Financing Deal Type 2,Last Financing Date,Last Financing Size,Last Financing Valuation,Last Financing Deal Type,Last Financing Deal Type 2,Growth Rate,Growth Rate % Change,Size Multiple,Size Multiple % Change
0,63996-58,Zyvex Technologies,1997.0,"Columbus, OH",United States,Americas,Business Products and Services (B2B),Commercial Products,Nanotechnology,4.00,...,NaN,01-Jan-2010,7.20,NaN,Grant,NaN,-4.27%,0.00%,3.86x,-0.88%
1,60184-09,Zyomed,2007.0,"Altadena, CA",United States,Americas,Healthcare,Healthcare Devices and Supplies,HealthTech,23.11,...,Series A,17-May-2016,10.61,132.61,Early Stage VC,Series B2,0.00%,0.00%,0.03x,0.00%
2,162693-55,Zylo,2016.0,"Indianapolis, IN",United States,Americas,Business Products and Services (B2B),Commercial Services,"SaaS, TMT",12.60,...,Seed Round,23-Jan-2018,9.30,29.30,Early Stage VC,Series A,2.23%,5.22%,4.18x,20.95%
3,52214-95,Zya,2008.0,"Calabasas, CA",United States,Americas,Consumer Products and Services (B2C),Media,"Mobile, TMT",53.86,...,Angel (individual),30-Sep-2017,9.00,NaN,Later Stage VC,NaN,-4.56%,0.07%,41.16x,-5.26%
4,179431-57,Zunum Aero,2013.0,"Bothell, WA",United States,Americas,Consumer Products and Services (B2C),Transportation,Manufacturing,0.00,...,NaN,10-Jan-2018,0.01,NaN,Angel (individual),Angel (individual),0.53%,-1.66%,6.34x,0.96%

In [487]:
# Count number of missing values per column
missingCount = venture.isnull().sum()
missingCount

Company ID                        0
Company Name                      0
Year Founded                     76
HQ Location                       4
HQ Country                        4
HQ Global Region                  4
Primary Industry Sector           2
Primary Industry Group            2
Verticals                        93
Total Raised                    214
Active Investors                 37
# Active Investors               37
First Financing Date            314
First Financing Size            671
First Financing Valuation      1336
First Financing Deal Type         0
First Financing Deal Type 2     858
Last Financing Date             207
Last Financing Size             569
Last Financing Valuation       1266
Last Financing Deal Type          0
Last Financing Deal Type 2      897
Growth Rate                      82
Growth Rate % Change             88
Size Multiple                    82
Size Multiple % Change           88
dtype: int64

In [488]:
venture.dtypes

Company ID                      object
Company Name                    object
Year Founded                   float64
HQ Location                     object
HQ Country                      object
HQ Global Region                object
Primary Industry Sector         object
Primary Industry Group          object
Verticals                       object
Total Raised                    object
Active Investors                object
# Active Investors             float64
First Financing Date            object
First Financing Size            object
First Financing Valuation       object
First Financing Deal Type       object
First Financing Deal Type 2     object
Last Financing Date             object
Last Financing Size             object
Last Financing Valuation        object
Last Financing Deal Type        object
Last Financing Deal Type 2      object
Growth Rate                     object
Growth Rate % Change            object
Size Multiple                   object
Size Multiple % Change          object
dtype: object

In [489]:
venture["First Financing Size"] = pd.to_numeric(venture['First Financing Size'], errors='coerce')
venture["First Financing Valuation"] = pd.to_numeric(venture['First Financing Valuation'], errors='coerce')
venture["Last Financing Size"] = pd.to_numeric(venture['First Financing Size'], errors='coerce')
venture["Last Financing Valuation"] = pd.to_numeric(venture['First Financing Valuation'], errors='coerce')
venture["Total Raised"] = pd.to_numeric(venture['Total Raised'], errors='coerce')

C:\Users\admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\admin\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [490]:
#number of companies in the dataset
startup_total = venture['Company Name'].count()
startup_total
print(f'The total number of startups: {startup_total}')

The total number of startups: 1997

In [498]:
#separating the investors in the Active Investors column to better understand how many investors there are
investors = venture['Active Investors'].str.split(',', expand = True)
investors.fillna(value=pd.np.nan, inplace=True)
investors.head()

,0,1,2,3,4,5,6,7,8,9,...,96,97,98,99,100,101,102,103,104,105
0,Arkema,Defense Advanced Research Projects Agency,Lockheed Martin Ventures,National Aeronautics and Space Administration,State of Ohio Department of Development,U.S. Navy,United States Army,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Khosla Ventures,Samsung Catalyst,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Bessemer Venture Partners,Collina Ventures,Donald Brown,GGV Capital,Haystack,High Alpha,Hyde Park Venture Partners,Peter McCormick,Revolution,Router Ventures,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,500 Startups,Individual Investor,Intel Capital,Liberty Global Ventures,Shea Ventures,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Boeing HorizonX,JetBlue Technology Ventures,Washington State Department Of Commerce,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [499]:
#finding out which investors made multiple investments in the companies in dataset
investors = investors.melt(var_name='columns', value_name='index')
investors.head()

   columns                      index
0        0                     Arkema
1        0            Khosla Ventures
2        0  Bessemer Venture Partners
3        0               500 Startups
4        0            Boeing HorizonX

In [500]:
#viewing total number of unique investors and ranking in frequency of investing in the companies in the dataset
investors = pd.crosstab(index=investors['index'], columns=investors['columns'])
total_investors = investors.index.nunique()
print(f'Total number of unique investors: {total_investors}')
investors

Total number of unique investors: 8700

columns,0,1,2,3,4,5,6,7,8,9,...,96,97,98,99,100,101,102,103,104,105
index,,,,,,,,,,,,,,,,,,,,,
2009583 Ontario Ltd.,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2020 Ventures,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2B Angels,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
301,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
360 total security,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
dPixel,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ePlanet Capital,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
entrepreneurship@UBC Seed Fund,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
frogVentures,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
lool Ventures,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [501]:
investors['Total'] = investors.loc[:,0:105].sum(1)

In [502]:
#investors with the most investments into different companies
investor_count = investors['Total'].sort_values(ascending=False)
investor_count.head()

index
 Salesforce Ventures           195
 Individual Investor           129
 Samsung Venture Investment    122
 Comcast Ventures              105
 Plug and Play Tech Center     102
Name: Total, dtype: int64

In [545]:
top_investors = investor_count.head(50)
top_50 = top_investors.head(50).rename_axis('Investor Names').reset_index(name='Number of Investments')
top_50_vc = list(top_50['Investor Names'])
top_50.head()

                Investor Names  Number of Investments
0          Salesforce Ventures                    195
1          Individual Investor                    129
2   Samsung Venture Investment                    122
3             Comcast Ventures                    105
4    Plug and Play Tech Center                    102

In [565]:
startups = venture[['Company ID', 'Active Investors']]
new_df = startups['Active Investors'].str.split(',', expand = True)

In [566]:
startups = pd.merge(startups, new_df, left_index=True, right_index=True)
startups.drop('Active Investors', axis=1, inplace=True)
startups.head()

,Company ID,0,1,2,3,4,5,6,7,8,...,96,97,98,99,100,101,102,103,104,105
0,63996-58,Arkema,Defense Advanced Research Projects Agency,Lockheed Martin Ventures,National Aeronautics and Space Administration,State of Ohio Department of Development,U.S. Navy,United States Army,None,None,...,None,None,None,None,None,None,None,None,None,None
1,60184-09,Khosla Ventures,Samsung Catalyst,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,162693-55,Bessemer Venture Partners,Collina Ventures,Donald Brown,GGV Capital,Haystack,High Alpha,Hyde Park Venture Partners,Peter McCormick,Revolution,...,None,None,None,None,None,None,None,None,None,None
3,52214-95,500 Startups,Individual Investor,Intel Capital,Liberty Global Ventures,Shea Ventures,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,179431-57,Boeing HorizonX,JetBlue Technology Ventures,Washington State Department Of Commerce,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [567]:
startups = startups.set_index('Company ID')

In [568]:
startups.head()

,0,1,2,3,4,5,6,7,8,9,...,96,97,98,99,100,101,102,103,104,105
Company ID,,,,,,,,,,,,,,,,,,,,,
63996-58,Arkema,Defense Advanced Research Projects Agency,Lockheed Martin Ventures,National Aeronautics and Space Administration,State of Ohio Department of Development,U.S. Navy,United States Army,None,None,None,...,None,None,None,None,None,None,None,None,None,None
60184-09,Khosla Ventures,Samsung Catalyst,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
162693-55,Bessemer Venture Partners,Collina Ventures,Donald Brown,GGV Capital,Haystack,High Alpha,Hyde Park Venture Partners,Peter McCormick,Revolution,Router Ventures,...,None,None,None,None,None,None,None,None,None,None
52214-95,500 Startups,Individual Investor,Intel Capital,Liberty Global Ventures,Shea Ventures,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
179431-57,Boeing HorizonX,JetBlue Technology Ventures,Washington State Department Of Commerce,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [574]:
top_5 = ('Salesforce Ventures',
 ' Individual Investor',
 ' Samsung Venture Investment',
 ' Comcast Ventures',
 ' Plug and Play Tech Center')

In [581]:
res = startups[startups.iloc[:, :].isin({top_50_vc})]
res

TypeError: unhashable type: 'list'

In [575]:

cond = (startups.iloc[:,1:106].isin(top_5))
invested_df = startups[cond]
invested_df

,0,1,2,3,4,5,6,7,8,9,...,96,97,98,99,100,101,102,103,104,105
Company ID,,,,,,,,,,,,,,,,,,,,,
63996-58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60184-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162693-55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52214-95,NaN,Individual Investor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179431-57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98400-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169555-60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56463-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56695-78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112586-59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:

(venture['Active Investors'] == 'Com Ventures').count()

industry_count = venture['Primary Industry Sector'].value_counts()

print(f'Total number of industry sectors: {len(prim_count)}')
print(prim_count)

In [ ]:
p_count = venture['Primary Industry Sector'].value_counts()
p_count

In [ ]:
group_count = venture.groupby('Primary Industry Sector')['Primary Industry Group'].value_counts()
print(f'Total number of industry groups: {len(group_count)}')
print(group_count)

In [ ]:
verticals = venture['Verticals'].unique()
len(verticals)

In [ ]:
count_1 = clean_df[['v_1', 'v_2', 'v_3', 'v_4', 'v_5', 'v_6', 'v_7']].apply(pd.Series.value_counts)
count_1 = count.fillna(0)
count_1
clean_df.drop(['Verticals'], axis=1)

In [ ]:
count_1['Total'] = count_1.loc[:,'v_1':'v_8'].sum(1)

count_1['Total'].sort_values(ascending=False)

In [ ]:
df = uncleaned[['Company Name', 'Company ID', 'Verticals']]
df

In [ ]:
df[['v_1', 'v_2', 'v_3', 'v_4', 'v_5', 'v_6', 'v_7', 'v_8']] = df.Verticals.str.split(', ', expand = True)

In [ ]:
df = df.drop(['Verticals'], axis=1)

In [ ]:
df

In [ ]:


count = df[['v_1', 'v_2', 'v_3', 'v_4', 'v_5', 'v_6', 'v_7', 'v_8']].apply(pd.Series.value_counts)
count = count.fillna(0)
count

In [ ]:
count['Total'] = count.loc[:,'v_1':'v_8'].sum(1)

count['Total'].sort_values(ascending=False)

In [ ]:
deal_type = venture['First Financing Deal Type'].unique()
print(f'Number of deal types: {len(deal_type)}')
print(deal_type)