In [1]:
import pandas as pd
import numpy as np
import requests
import json
import gmaps

from api_keys import gkey

# Access maps with unique API key
gmaps.configure(api_key=gkey)

In [2]:
file="full_map.csv"

df1=pd.read_csv(file)
df1

          Country  amount percentage
0    UnitedStates     365     83.91%
1     Netherlands       1      0.23%
2          France       3      0.69%
3          Canada      11      2.53%
4     Switzerland       5      1.15%
5          Israel      14      3.22%
6   UnitedKingdom       9      2.07%
7         Germany       5      1.15%
8           Spain       3      0.69%
9       Singapore       2      0.46%
10          India       4      0.92%
11          Japan       6      1.38%
12        Ireland       1      0.23%
13        Belgium       1      0.23%
14         Uganda       1      0.23%
15          China       1      0.23%
16         Taiwan       1      0.23%
17       Portugal       1      0.23%
18         Sweden       1      0.23%

In [3]:
df1["Lat"]=""
df1["Lng"]=""

In [4]:
# create a params dict that will be updated with new city each iteration
params = {"key": gkey}

# Loop through the cities_pd and run a lat/long search for each city
for index, row in df1.iterrows():
    url = "https://maps.googleapis.com/maps/api/geocode/json"
    country = row['Country']
    
    # update address key value
    params['address'] = f"{country}"
    
    # make request
    df1_lat_lng = requests.get(url, params=params)
    
    # convert to json
    df1_lat_lng = df1_lat_lng.json()
    
    df1.loc[index, "Lat"] = df1_lat_lng["results"][0]["geometry"]["location"]["lat"]
    df1.loc[index, "Lng"] = df1_lat_lng["results"][0]["geometry"]["location"]["lng"]
    
# Visualize to confirm lat lng appear
df1.head()

        Country  amount percentage      Lat      Lng
0  UnitedStates     365     83.91%  37.0902 -95.7129
1   Netherlands       1      0.23%  52.1326  5.29127
2        France       3      0.69%  46.2276  2.21375
3        Canada      11      2.53%  56.1304 -106.347
4   Switzerland       5      1.15%  46.8182  8.22751

In [5]:
#Get the coordinates to use in gmaps
coordinate = df1[['Lat', 'Lng']]
coordinate

        Lat      Lng
0   37.0902 -95.7129
1   52.1326  5.29127
2   46.2276  2.21375
3   56.1304 -106.347
4   46.8182  8.22751
5   31.0461  34.8516
6   55.3781 -3.43597
7   51.1657  10.4515
8   40.4637 -3.74922
9   1.35208   103.82
10  20.5937  78.9629
11  36.2048  138.253
12  53.1424 -7.69205
13  50.5039  4.46994
14  1.37333  32.2903
15  35.8617  104.195
16  23.6978  120.961
17  39.3999 -8.22445
18  60.1282  18.6435

In [6]:
fig = gmaps.figure()

# Assign the marker layer to a variable
markers = gmaps.marker_layer(coordinate)
# Add the layer to the map
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))